<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Hola <%= username %>!</h1>
    <h2>Este contenido esta protegido</h2>
    <button type="button" id="btnLogout">Cerrar Sesion</button>

    <script>
        const formProtected = document.getElementById('formProtected')
        const btnLogout = document.getElementById('btnLogout')
        btnLogout?.addEventListener('click', (e) => {
            e.preventDefault()
            fetch('/logout', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(res => {
                console.log(res)
                window.location.href = '/'
            })
            
        })
    </script>
</body>
</html>